.container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-colour-translucent);
}

.order-details {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background-translucent);
}

.item-details-container,
.address-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background-translucent);
    padding: 5px;
}

.image-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--primary-colour-translucent-2);
}

.btn-back {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
}

.btn-back:hover {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.btn-back:active {
    background-color: var(--primary-colour-translucent) !important;
}