/*** Single Product ***/

.single-product {
    background-color: var(--secondary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
}

.single-product img {
    border-radius: var(--border-radius);
    border: var(--thin-border);
}

.text-start {
    background-color: var(--background-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.sale-container-lg {
    color: var(--secondary-colour);
    background-color: var(--primary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    width: fit-content;
    padding: 3px 0;
    margin: 10px 0;

}

/*** Selection ***/

.selection input {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
    max-width: 4rem;
}

.selection input:focus {
    border: var(--thin-border);
    box-shadow: var(--small-inset-box-shadow);
}

.selection .selector {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
    max-width: fit-content;
}

.selection .selector:hover {
    background-color: var(--background);
    color: var(--secondary-colour);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.selection .selector:focus {
    border: var(--thin-border);
    box-shadow: var(--small-inset-box-shadow);
}

.size-link-container .btn-size {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
}

.size-link-container .btn-size:hover {
    background-color: var(--background);
    color: var(--secondary-colour);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.size-link-container .btn-size:active {
    background-color: var(--primary-colour-translucent);
}

.form .btn-back,
.form .btn-bag {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
}

.form .btn-back:hover,
.form .btn-bag:hover {
    background-color: var(--background);
    color: var(--secondary-colour);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.form .btn-back:active,
.form .btn-bag:active {
    background-color: var(--primary-colour-translucent);
}

.selection .btn-down,
.selection .btn-up {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
}

.selection .btn-down:hover,
.selection .btn-up:hover {
    background-color: var(--background);
    color: var(--secondary-colour);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.selection .btn-down:active,
.selection .btn-up:active {
    background-color: var(--primary-colour-translucent);
}

.no-hover {
    pointer-events: none;
    background-color: var(--secondary-colour-translucent);
}

.size-link-container .measure-icon,
.selector .colors-icon {
    height: 1.25rem;
    border: none;
}