{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/admin_panel.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block content %}

<div class="container col-11 m-5 mx-auto p-3">
    <div class="row m-1 m-lg-0">
        <div class="col col-md-6">
            <h3>
                Admin Panel
            </h3>
        </div>
    </div>
    <div class="row m-1 m-lg-0 mx-auto">
        <div class="col selection-container p-3 mx-auto">
            <div class="row">
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'add_garment' %}" class="btn btn-lg admin-btn text-start">
                                    Add Garment
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'list_garments' %}" class="btn btn-lg admin-btn text-start">
                                    Edit Garment
                                </a>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mx-auto">
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'add_category' %}" class="btn btn-lg admin-btn text-start">
                                    Add Category
                                </a>                                
                            </div>
                        </div>
                    </div>
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'list_categories' %}" class="btn btn-lg admin-btn text-start">
                                    Edit Category
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'add_colour' %}" class="btn btn-lg admin-btn text-start">
                                    Add Colour
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'list_colours' %}" class="btn btn-lg admin-btn text-start">
                                    Edit Colour
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'add_size' %}" class="btn btn-lg admin-btn text-start">
                                    Add Size
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'list_sizes' %}" class="btn btn-lg admin-btn text-start">
                                    Edit Size
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row m-1 m-lg-0">
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'contact_list' %}" class="btn btn-lg admin-btn text-start">
                                    Contact List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mx-auto">
                    <div class="card admin-card mx-auto mb-2">
                        <div class="row m-1 m-lg-0">
                            <div class="col">
                                <a href="{% url 'newsletter_list' %}" class="btn btn-lg admin-btn text-start">
                                    Subscribers
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}