{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/edit_garment.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}

<div class="container m-5 mx-auto p-3">
    <div class="row m-1 m-lg-0">
        <div class="col col-md-6">
            <h3>Edit a Garment</h3>
        </div>
    </div>
    <div class="row m-1 m-lg-0">
        <div class="col form-container col-md-6 p-3">
            <form action="{% url 'edit_garment' product.id %}" method="POST"
                class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}

                {{ formset.management_form }}
                {% for image_form in formset %}
                    {{ image_form | crispy }}
                {% endfor %}

                <div class="float-end edit-buttons">
                    <a href="{% url 'all_garments' %}" class="btn btn-back my-3" type="submit">
                        <span><i class="fas fa-arrow-left fa-lg"></i></span>
                        Back to Garments
                    </a>
                    <button type="submit" class="btn btn-submit">Edit Garment</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
