{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/admin_panel.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}

<div class="container col-11 m-5 mx-auto p-3">
    <div class="row m-1 m-lg-0">
        <div class="col col-md-6">
            <h3>Edit Colour</h3>
        </div>
    </div>
    <div class="row m-1 m-lg-0">
        <div class="col col-md-6 form-container p-3">
            <form action="{% url 'edit_colour' colour.id %}" method="POST" class="form">
                {% csrf_token %}
                {{ colour_form | crispy }}
                <button type="submit" class="btn btn-submit">Edit Colour</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}