{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/list_garments.css' %}">
{% endblock %}

{% block content %}
<div class="container m-5 mx-auto p-2">
    <h3 class="text-start p-3">Select a Size to Edit</h3>
    <div class="row m1 m-lg-0">
        <div class="col product-list p-3">
            <ul>
                {% for size in sizes %}
                <li>
                    <h5>{{ size.name }}</h5>

                    {% if request.user.is_superuser %}
                        <div class="mt-2 admin-buttons">
                            <a href="{% url 'edit_size' size.id %}" class="btn btn-edit btn-sm">
                                Edit Size
                            </a>
                            <a href="#deleteModal" class="btn btn-delete btn-sm" 
                            data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-name="{{ size.name }}"
                            data-delete-url="{% url 'delete_size' size.id %}">
                                Delete Size
                            </a>
                        </div>
                        <hr>
                    {% endif %}
                </li>
                {% empty %}
                <li>No sizes to display.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% include 'includes/delete_modal.html' %}

{% endblock %}