{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/list_garments.css' %}">
{% endblock %}

{% block content %}
<div class="container m-5 mx-auto p-3">
    <h3 class="text-start p-3">Select a Colour to Edit</h3>
    <div class="row m1 m-lg-0">
        <div class="col product-list p-3">
            <ul>
                {% for colour in colours %}
                <li>
                    <h5>{{ colour.name }}</h5>

                    {% if request.user.is_superuser %}
                        <div class="mt-2 admin-buttons">
                            <a href="{% url 'edit_colour' colour.id %}" class="btn btn-edit btn-sm">
                                Edit Colour
                            </a>
                            <a href="{% url 'delete_colour' colour.id %}" class="btn btn-delete btn-sm">
                                Delete Colour
                            </a>
                        </div>
                        <hr>
                    {% endif %}
                </li>
                {% empty %}
                <li>No colours to display.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


  {% endblock %}