{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'admin_panel/css/list_garments.css' %}">
{% endblock %}

{% block content %}
<div class="container m-5 mx-auto p-2">
    <h3 class="text-start p-3">Select a Subscriber</h3>
    <div class="row m1 m-lg-0">
        <div class="col product-list p-3">
            <ul>
                {% for newsletter in newsletters %}
                <li>
                    <p>{{ newsletter.email }}</p>

                    {% if request.user.is_superuser %}
                        <div class="mt-2 admin-buttons">
                            <!-- <a href="#" class="btn btn-edit btn-sm">
                                Reply to Contact
                            </a> -->
                            <a href="{% url 'delete_newsletter' newsletter.id %}" class="btn btn-delete btn-sm">
                                Delete Subscriber
                            </a>
                        </div>
                        <hr>
                    {% endif %}
                </li>
                {% empty %}
                <li>No contacts to display.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


  {% endblock %}