{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bag.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}
<h4 class="font-weight-bold text-end me-5">{% if grand_total %}Total: £{{ grand_total|floatformat:2 }}{% else %}£0.00{% endif %}</h4>
{% endblock %}

{% block content %}

<div class="container pb-5">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            {% if bag_items %}
            <div class="table-responsive pb-0">
               <table class="table table-sm table-borderless bag-table">
                    <thead>
                        <tr>
                            <th scope="col" class="p-md-2">Product</th>
                            <th scope="col" class="p-md-2">Details</th>
                            <th scope="col" class="p-md-2 text-end">Price</th>
                            <th scope="col" class="p-md-2 text-center">Qty</th>
                            <th scope="col" class="p-md-2 text-end">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                        <tr>
                            <td class="p-md-2">
                                <img src="{{ item.product.image.url }}" alt="" class="img-fluid">
                            </td>
                            <td class="p-md-2">
                                <p><strong>{{ item.product.name }}</strong></p>
                                <p><strong>Size: {{ item.size_name }}</strong></p>
                                <p><strong>Colour: {{ item.colour_name }}</strong></p>
                            </td>
                            <td class="p-md-2">
                                <p class="text-end">£{{ item.product.price }}</p>
                            </td>
                            <td class="p-md-2">

                                <div class="input-group input-group-sm w-50 mx-auto">
                                    <button class="btn btn-down" type="button" id="button-addon1" onclick="decreaseQuantity('{{ item.id }}')">
                                        -
                                    </button>
                                    <input type="number" class="form-control addon text-center" value="{{ item.quantity }}" min="1" id="quantity-{{ item.id }}">
                                    <button class="btn btn-up" type="button" id="button-addon2" onclick="increaseQuantity('{{ item.id }}')">
                                        +
                                    </button>
                                </div>

                            </td>
                            <td class="p-md-2">
                                <p class="text-end">£{{ item.product.price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <h6 class="text-end p-md-2">Bag Total: £{{ total|floatformat:2 }}</h6>
                            <h6 class="text-end p-md-2">Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="text-end p-md-2">Grand Total: £{{ grand_total|floatformat:2 }}</h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="text-end p-md-2">Spend £{{ free_delivery_delta|floatformat:2 }} more and your delivery will be free!</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start p-3 text-uppercase">
                            <a href="{% url 'all_garments' %}" class="btn btn-back">
                                <img src="{% static 'icons/back-arrow-icon.svg' %}" class="back-icon" alt="">
                                <br> Continue Shopping
                            </a>
                        </td>
                        <td colspan="3"></td>
                        <td class="text-end p-3 text-uppercase">
                            <a href="#" class="btn btn-checkout">
                                <img src="{% static 'icons/credit-card-color-icon.svg' %}" class="checkout-icon" alt="">
                                <br> Secure Checkout
                            </a>
                        </td>
                    </tr>
               </table>
            </div>
            {% else %}
            <div class="col-4 d-flex flex-column fill-bag mx-auto my-3">
                <h2 class="text-center mt-3">Your bag is empty!</h2>
                <img src="{% static 'icons/sad-face-icon.svg' %}" class="sad-face-icon mt-3 mb-5" alt="">
                <h2 class="text-center mt-3">Let's fill it!</h2>
                <a href="{% url 'all_garments' %}" class="btn btn-back w-md-25 mx-auto my-3">
                   <img src="{% static 'icons/back-arrow-icon.svg' %}" class="back-icon" alt=""> 
                    <br> Fill your Bag
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/bag.js' %}"></script>
{% endblock %}