{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid align-self-center text-center my-2">
    <div class="row">
        <div class="col my-2 py-lg-5">
            <div class="card mx-auto">
                <div class="image">
                    <img src="{% static 'images/tees/volt-tee.webp' %}" class="card-img-top apparel" alt="Image of a person wearing a tee shirt">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tees</h5>
                    <p class="card-text">View our range of Tees. <br> All out tees come in various colours and sizes.</p>
                    <a href="{% url 'all_garments' %}?category=tees" class="btn">View Tees</a>
                </div>
            </div>
        </div>
        <div class="col my-2 py-lg-5">
            <div class="card mx-auto">
                <div class="image">
                    {% include 'includes/carousel.html' %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">New Designs</h5>
                    <p class="card-text">View our New Designs. <br> All new designs come in various colours and sizes.</p>
                    <a href="{% url 'all_garments' %}?category=new" class="btn">View New Designs</a>
                </div>
            </div>
        </div>
        <div class="col my-2 py-lg-5">
            <div class="card mx-auto">
                <div class="image"> 
                    <img src="{% static 'images/hoodies/alien-hoodie.webp' %}" class="card-img-top apparel" alt="Image of a person wearing a hoodie">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hoodies</h5>
                    <p class="card-text">View our range of Hoodies. <br> All out hoodies come in various colours and sizes.</p>
                    <a href="{% url 'all_garments' %}?category=hoodies" class="btn">View Hoodies</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}