{% extends 'base.html' %}
{% load static %}

{% block banner %}
   <h4 class="font-weight-bold">Free delivery on orders over £{{ free_delivery_threshold }}*</h4>
{% endblock %}

{% block content %}

<div class="container-fluid align-self-center text-center my-2">
    <div class="row">
        <div class="col my-2 py-lg-5">
            <div class="card mx-auto">
                <div class="image">
                    <a href="{% url 'all_garments' %}?category=T-Shirts">
                        <img src="{% static 'images/clothing/tee.webp' %}" class="card-img-top apparel" alt="Image of a person wearing a tee shirt">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Tees
                    </h5>
                    <p class="card-text">
                        View our range of Tees. <br> 
                        All out tees come in various colours and sizes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col my-2 py-lg-5">
            <div class="card mx-auto">
                <div class="image">
                    <!-- <a href="{% url 'all_garments' %}?category=New_Designs"> -->
                        {% include 'includes/carousel.html' %}
                    <!-- </a> -->
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        New Designs
                    </h5>
                    <p class="card-text">
                        View our New Designs. <br> 
                        All new designs come in various colours and sizes.
                    </p>
                </div>
            </div>
        </div>
        <div class="col my-2 py-lg-5">
            <div class="card mx-auto">
                <div class="image"> 
                    <a href="{% url 'all_garments' %}?category=Hooded_Tops">
                        <img src="{% static 'images/clothing/hoodie.webp' %}" class="card-img-top apparel" alt="Image of a person wearing a hoodie">
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Hoodies
                    </h5>
                    <p class="card-text">
                        View our range of Hoodies. <br>
                        All out hoodies come in various colours and sizes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}