{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}

<div class="container m-5 mx-auto  p-lg-5 p-2">
    <div class="row m-1 m-lg-0">
        <div class="col">
            <p>Default Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn float-right">Update Information</button>
            </form>
        </div>
        <div class="col">
            <p>Order History</p>
            {{ orders }}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}" type="text/javascript"></script>
{% endblock %}