{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/checkout/css/checkout_success.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}

<div class="container m-5 mx-auto p-2">
    <div class="row m-1 m-lg-0">
        <div class="col-md-12 text-center order-details mb-2 p-3">
            <h3>Thank you for your order</h3>
            <hr>
            <p>Your order number is: {{ order.order_number }} <br>
                Order Date: {{ order.date }} <br>
                A confirmation email will be sent to: {{ order.email }} <br>
                Your order details are below: <br>
            </p>
            <hr>
        </div>
    </div>
    <div class="row m-1 m-lg-0">
        <div class="item-details-container"> 
            <div class="col text-center p-3">
                <h4>Your Order: </h4>
                <hr>
            </div>
        <div class="row m-3"> 
        {% for item in order_line_items %} 
         
            <div class="col-md-3 mb-3 image-container">
                {% if product.image %}
                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}image-not-found-icon.svg" alt="{{ item.product.name }}">
                {% endif %}
            </div>
        
            <div class="col-md-3 ps-5">
                <h5>{{ item.product.name }}</h5>
                <p><strong>Colour: </strong>{{ item.colour_name }}</p>
                <p><strong>Size: </strong>{{ item.size_name }}</p>
                <p><strong>Qty: </strong>{{ item.quantity }}</p>
                {% if item.product.discount %}
                    <p><strong>Item Price: £</strong><del>{{ item.product.price|floatformat:2 }}</del> £{{ item.product.discount_price|floatformat:2 }}</p>
                    <p><strong>Item Total: £</strong>{{ item.lineitem_total|floatformat:2 }}</p>
                {% else %}
                    <p><strong>Item Price: £</strong>{{ item.product.price|floatformat:2 }}</p>
                    <p><strong>Item Total: £</strong>{{ item.lineitem_total|floatformat:2 }}</p>
                {% endif %}

            </div>
       
        {% endfor %}  
        </div>    
        <div class="row m-1">
            <div class="col text-end mb-3 px-3">
                <strong>Subtotal: £{{ subtotal|floatformat:2 }}</strong><br>
                <strong>Delivery: £{{ delivery|floatformat:2 }}</strong><br>
                <strong>Order Total: £{{ total|floatformat:2 }}</strong>
                <hr>
            </div>
        </div>
    </div>
    <div class="address-container m-2 mx-auto p-2">
        <div class="row m-1">
            <div class="col-6 text-center p-3">
                <h5>Delivery Info:</h5>
            </div>
            <div class="col-6 text-center p-3">
                <h5>Billing Info:</h5>
            </div>
            <hr>
            <div class="col-6 text-center p-2">
                <small>{{ order.full_name }}<br>
                    {{ order.street_address1 }}<br>
                {% if order.street_address2 %}
                    {{ order.street_address2 }}<br>
                {% endif %}
                    {{ order.town_or_city }}<br>
                {% if order.county %}
                    {{ order.county }}<br>
                {% endif %}
                {% if order.postcode %}
                    {{ order.postcode }}<br>
                {% endif %}
                    {{ order.country }}</small>
            </div>
            <div class="col-6 text-center p-2">
                <small>{{ order.full_name }}<br>
                    {{ order.street_address1 }}<br>
                {% if order.street_address2 %}
                    {{ order.street_address2 }}<br>
                {% endif %}
                    {{ order.town_or_city }}<br>
                {% if order.county %}
                    {{ order.county }}<br>
                {% endif %}
                {% if order.postcode %}
                    {{ order.postcode }}<br>
                {% endif %}
                    {{ order.country }}</small>
            </div>
            <hr>
                <div class="row">
                    <div class="col m-2 text-center">
                        {% if from_profile %}
                        <a href="{% url 'profile' %}" class="btn btn-back">
                            <span><i class="fas fa-arrow-left fa-lg"></i></span>
                            Back to Profile
                        </a>
                        {% else %}
                        <a href="{% url 'all_garments' %}" class="btn btn-back">
                            <span><i class="fas fa-arrow-left fa-lg"></i></span>
                            Continue Shopping
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
