{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}

<div class="container m-5 mx-auto p-lg-5 p-2">
    <div class="row m-1 m-lg-0">
        <div class="col-md-12 text-end">
            <h3>Please fill out the form below to complete your order</h3>
        </div>
    </div>
    <div class="row m-2 m-lg-0">
        <div class="col-lg-6 form-container p-2 order-last">
            <h3 class="pt-2 ps-3">Checkout</h3>
            <p class="small text-muted ps-3">*All fields are required</p>
            <form action="{% url 'checkout' %}" method="post" id="payment-form">
                {% csrf_token %}
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-label small px-2 w-auto">Contact Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-label small px-2 w-auto">Billing and Delivery Information</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline">
                        {% if user.is_authenticated %}
                            <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                            <label class="form-check-label" for="id-save-info">Save this information for next time</label>
                        {% else %}
                            <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or
                            <a href="{% url 'account_login' %}" class="text-info">Log In</a> to save this information
                        {% endif %}
                        
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small px-2 w-auto">Payment Details</legend>
                    <div id="card-element"></div>
                    <div id="card-errors"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="submit-button text-end px-2 px-lg-5 m-3">
                    <button id="submit-button" class="btn btn-next p-2">
                        <img src="{% static 'icons/online-secure-payment-icon.svg' %}" class="payment-icon" alt="payment icon"> 
                        Complete Order
                    </button>
                    <p class="small mt-3 ">
                        <span><img src="{% static 'icons/exclamation-warning-round-icon.svg' %}" class="exclamation-icon" alt="exclamation icon"></span>
                        <span>Your card will be charged £{{ grand_total|floatformat:2 }}</span>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-lg-6 summary-container p-2">
            
            <div class="bag-summary pt-1 pt-lg-2 ps-3">
                <h3>Order Summary</h3>
                <p>Your Bag ( {{ item_count }} items ) </p>
                {% for item in bag_items %}
                <div class="row">
                    <div class="col-3">
                        {% if item.product.productimage_set.all %}
                        <img class="w-100 bag-summary-img" src="{{ item.product.productimage_set.all.0.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img class="w-100 bag-summary-img p-2" src="{{ MEDIA_URL }}image-not-found-icon.svg" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p>{{ item.product.name }}
                        <br>Colour: {{ item.colour_name }}
                        <br>Size: {{ item.size_name }}
                        <br>Qty: {{ item.quantity }}</p>
                        <p>Item Total: £{{ item|item_subtotal|floatformat:2 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr>
            <div class="row">
                <div class="col px-2 px-lg-5 m-3 bag-summary">
                    <strong>Order Total: £{{ total|floatformat:2 }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col px-2 px-lg-5 m-3 bag-summary">
                    <strong>Delivery: £{{ delivery|floatformat:2 }}</strong> <br>
                    {% if free_delivery_delta > 0 %}
                    <small>Spend £{{ free_delivery_delta|floatformat:2 }} more and your delivery will be free!</small>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col px-2 px-lg-5 m-3 bag-summary">
                    <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
                </div>
            </div>
            <div class="row">
                <div class="col px-2 px-lg-5 m-3 text-end">
                    <a href="{% url 'bag' %}" class="btn btn-back p-2">
                        <span><i class="fas fa-arrow-left fa-lg"></i></span>
                         Change Your Order
                    </a>
			</div>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-spinner fa-pulse"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}