/*** Modal ***/

.modal-content {
    color: var(--secondary-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);  
    background-image: url('/static/images/backgrounds/4879447.webp');
}

.modal .modal-header {
    color: var(--secondary-colour);
    background-color: var(--primary-colour-translucent);
    border-bottom: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-box-shadow);
}

.modal-header .measure-icon {
    height: 1.5rem;
    border: none;
    background-color: transparent;
}

.modal .modal-body {
    color: var(--secondary-colour);
    background-color: var(--body-background);
}

.modal .text {
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
    border-radius: var(--border-radius);
    border: var(--thin-border);
}

.modal .modal-footer {
    color: var(--secondary-colour);
    background-color: var(--primary-colour-translucent);
    border-radius: var(--border-radius);
    border: var(--thin-border);
    box-shadow: var(--small-box-shadow);
}

.modal .modal-footer button {
    color: var(--secondary-colour);
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: var(--thin-border);
}

.modal .modal-footer button:hover {
    box-shadow: var(--small-box-shadow);
}

.modal .modal-footer button:active {
   background-color: var(--primary-colour-translucent-2);
   color: var(--secondary-colour);
}

/*** Size Guide ***/

.modal .tab-pane {
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
    border-radius: var(--border-radius);
    border: var(--thin-border)    
}

.modal .nav-tabs .nav-link {
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
    border-radius: var(--border-radius);
    border: var(--thin-border);
} 

.modal .nav-tabs .nav-link:focus,
.modal .nav-tabs .nav-link:active {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--primary-colour-translucent);
}

.modal img {
    border-radius: var(--border-radius);
    border: var(--thin-border);
    background-color: var(--primary-colour-translucent);
}

.modal .table.table-chart {
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
}

.modal .table.table-chart th {
    background-color: var(--primary-colour-translucent);
}

.modal .table.table-chart td {
    background-color: var(--background-translucent);
}

.modal #hcm-tab,
.modal #tcm-tab {
    border-left: none;
}

.modal #hcm-tab-pane,
.modal #tcm-tab-pane,
.modal #hin-tab-pane,
.modal #tin-tab-pane {
    border-right: none;
    border-left: none;
}

.modal #hin-tab-pane,
.modal #hcm-tab-pane {
    border-bottom: none;
}

/*** About ***/

#aboutModal .modal-content {
    background-image: url('/static/images/backgrounds/4879447.webp');
}

.modal-body .main-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-colour-translucent);
    box-shadow: var(--small-box-shadow);
}

.modal-body .image-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background-translucent);
}

.modal-body img {
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--thin-border);
}

.modal-body .text-container {
    background-color: var(--background-translucent);
    border-radius: var(--border-radius);
    border: var(--thin-border);
}

.modal-body .social-icon{
    height: 2.5rem;
    margin: 0.5rem;
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    width: auto;
}

.modal-body .social-icon:hover {
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.modal-body .social-icon:active {
    background-color: var(--primary-colour-translucent);
}

.modal-body .measure-icon,
.modal-body .form-icon {
    height: 1.5rem;
    border: none;
    background-color: transparent;
}

.modal-body .size-link {
    color: var(--secondary-colour);
    background-color: var(--background);
    border-radius: var(--border-radius);
    border: var(--thin-border);
}

.modal-body .size-link:hover {
    box-shadow: var(--small-box-shadow);
}

.modal-body .size-link:active {
    background-color: var(--primary-colour-translucent);
}

/** Delete Modal **/

.btn-modal-delete:hover {
    color: var(--background) !important;
    background-color: var(--error-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-box-shadow);
}
