{% load static %}

<div id="carousel" class="carousel slide mx-auto" data-bs-theme="dark" data-bs-ride="carousel" data-bs-interval="7500">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="{% static 'images/clothing/new_tee.webp' %}" class="d-block w-100 carousel-image" alt="Image of person wearing a tee shirt">
        </div>
        <div class="carousel-item active">
            <img src="{% static 'images/logos/lime_logo_square.webp' %}" class="d-block w-100 carousel-image"alt="Charles Gemini Logo">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/clothing/new_hoodie.webp' %}" class="d-block w-100 carousel-image" alt="Image of a person wearing a hoodie">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>