{% load static %}

<div class="row footer">

    <div class="col-8 offset-1 my-5">
        <p>&copy; Copyright 2024 Charles Gemini Apparel</p>
        <p>Designed & built by Simon Boylan for Code Institute Milestone Project 4.</p>
            <p>Visit my GitHub profile here:
                <a href="https://github.com/boderg" target="_blank" rel="noopener" aria-label="GitHub - Opens in a new tab">
                <img src="{% static 'icons/github-icon.svg' %}" alt="GitHub Icon" class="social-icon p-1"></a>
            </p>
    </div>

    <div class="col-2 my-5 social-icons">
        <ul class="list-inline social-links">
            <li class="list-inline-item">
                <a href="http://www.facebook.com" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
                <img src="{% static 'icons/facebook-round-color-icon.svg' %}" alt="Facebook Icon" class="social-icon p-1">
                <span class="sr-only">Facebook</span></a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.twitter.com" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
                <img src="{% static 'icons/x-social-media-black-icon.svg' %}" alt="Twitter Icon" class="social-icon p-1">
                <span class="sr-only">Twitter</span></a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.pinterest.com" target="_blank" rel="noopener" aria-label="Pinterest - Opens in a new tab">
                <img src="{% static 'icons/pinterest-round-color-icon.svg' %}" alt="Pinterest Icon" class="social-icon p-1">
                <span class="sr-only">Pinterest</span></a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.instagram.com" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
                <img src="{% static 'icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon p-1">
                <span class="sr-only">Instagram</span></a>
            </li>
        </ul>
    </div>

</div>