<header class="container-fluid fixed-top">

    <nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid">
        <a class="navbar-brand" href="index.html">Charles Gemini Apparel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dropdown-menu"
            aria-controls="dropdown-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="dropdown-menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Shop
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="new.html">New</a></li>
                        <li><a class="dropdown-item" href="tees.html">Tee's</a></li>
                        <li><a class="dropdown-item" href="hoodies.html">Hoodies</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><a class="dropdown-item" href="#">Shopping Cart</a></li>
                        <li><a class="dropdown-item" href="#">About</a></li>
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                        <li><a class="dropdown-item" href="#">Size Chart</a></li>
                    </ul>
                </li>
            </ul>
                <div class="basket">
                    <a data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
        </div>
    </nav>
</header>