{% load static %}

<header>
   
    <nav class="navbar top-navbar navbar-expand-lg ">
        <div class="container-fluid">

            <!-- Brand Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/white_logo_long.webp' %}" alt="Charles Gemini Apparel Logo" class="logo ms-5">
            </a>

            <!-- Search Bar -->
            <form class="d-flex" role="search">
                <input class="form-control ms-lg-5 ms-5 me-2 mt-2 mt-lg-0 search" type="search" placeholder="Enter search" aria-label="Search">
                <button class="btn btn-outline search-btn ms-4 ms-lg-2 me-lg-5 mt-2 mt-lg-0" type="submit">Search</button>
            </form>

        </div>
    </nav>

    <nav class="navbar bottom-navbar navbar-expand-lg ">
        <div class="container-fluid">

            <!-- Shop Dropdown -->            
            <div class="dropdown mx-lg-5 mx-3">
                <a class="btn btn-outline dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Shop Now!
                </a>
                
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">New</a></li>
                    <li><a class="dropdown-item" href="#">Tee's</a></li>
                    <li><a class="dropdown-item" href="#">Hoodies</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Account</a></li>
                    <li><a class="dropdown-item" href="#">Shopping Cart</a></li>
                    <li><a class="dropdown-item" href="#">About</a></li>
                    <li><a class="dropdown-item" href="#">Contact</a></li>
                    <li><a class="dropdown-item" href="#">Size Chart</a></li>
                </ul>
            </div>

            <!-- Shopping Cart -->
            <div class="basket">
                <button class="btn btn-outline mx-3 mx-lg-5"><i class="fa-solid fa-cart-shopping fa-xl"></i></button>
            </div>
        </div>
    </nav>

</header>