{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
    - {{ page_title }}
{% endblock %}

{% block banner %}
<h4 class="font-weight-bold text-end me-5">{% if grand_total %}Bag Total: £{{ grand_total|floatformat:2 }}{% endif %}</h4>
{% endblock %}

{% block content %}

<div class="container-fluid self-align-center text-left my-2">
    <div class="row">
        {% for product in products %}
        {% if product.discount %}
        <div class="col my2 py-lg-5">
            <div class="card mx-auto my-2">
                <div class="image">
                    <span class="badge position-absolute">Sale</span>
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top apparel" alt="Image of a new design">
                    {% else %}
                    <img src="{{ MEDIA_URL }}image-not-found-icon.svg" class="card-img-top apparel" alt="Image of a new design">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <div class="sale-container-sm text-center">
                    Sale!
                    <h5 class="card-text discount"><del>£{{ product.price }}</del> &nbsp;£{{ product.discount_price }}</h5>
                </div>
                    <a href="{% url 'garment' product.id %}" class="btn">
                        View Product
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col my2 py-lg-5">
            <div class="card mx-auto my-2">
                <div class="image">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top apparel" alt="Image of a new design">
                    {% else %}
                    <img src="{{ MEDIA_URL }}image-not-found-icon.svg" class="card-img-top apparel" alt="Image of a new design">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <h5 class="card-text">£{{ product.price }}</h5>
                    <a href="{% url 'garment' product.id %}" class="btn">
                        View Product
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}