{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/garment.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ product.name }}
{% endblock %}

{% block banner %}
    
{% endblock %}

{% block content %}
        
<div class="container w-75 my-3 my-lg-5">

    {% if product.discount %}

    <div class="row single-product py-2 pe-md-2 align-items-center">
        <div class="col-md-6">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Item image"/>
        </div>
        <div class="col-md-6 text-start p-4 mt-2">
            <span class="badge fs-5">Sale</span>
            <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
            <div class="fs-5 mb-3 sale-container-lg px-2">
                Sale Price! &nbsp;
                <span class="card-text discount text-center"><strike>£{{ product.price }}</strike> &nbsp;£{{ product.discount_price }}</span>
            </div>
            <p class="lead mb-5">{{ product.description }}.</p>
            <form action="{% url 'bag_add' product.id %}" class="form" method="POST">
                {% csrf_token %}
                <div class="d-flex flex-row align-items-center selection">
                    <input class="form-control text-left" name="quantity" type="number" value="1" 
                    min="1" max="99" data-item-_id="{{ product.id }}" id="id_qty_{{ product.id }}"/>    
                    <select class="form-select mx-3 selector" aria-label="Size selector" name="size" required>
                        <option selected hidden>Select Size</option>
                        {% for size in sizes %}
                            <option value="{{ size.id }}">{{ size.name }}</option>
                        {% endfor %}
                        </select>
                    <select class="form-select selector" aria-label="Colour selector" name="colour" required>
                        <option selected hidden>Select Colour</option>
                        {% for colour in colours %}
                            <option value="{{ colour.id }}">{{ colour.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="size-link-container mt-2">
                    <a class="size-link" data-bs-toggle="modal" data-bs-target="#sizeModal">Size Guide</a>
                </div>
                <button class="btn btn-bag flex-shrink-0 my-5" type="submit">
                    Add to bag
                </button>
            </form>
        </div>
    </div>

    {% else %}

    <div class="row single-product py-2 pe-md-2 align-items-center">
        <div class="col-md-6">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Item image"/>
        </div>
        <div class="col-md-6 text-start p-4 mt-2">
            
            <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
            <div class="fs-5 mb-3">
                <span class="card-text discount"></span>£{{ product.price }}</span>
            </div>
            <p class="lead mb-5">{{ product.description }}.</p>
            <form action="{% url 'bag_add' product.id %}" class="form" method="POST">
                {% csrf_token %}
                <div class="d-flex flex-row align-items-center selection">
                    <input class="form-control text-left" name="quantity" type="number" value="1" 
                    min="1" max="99" data-item-_id="{{ product.id }}" id="id_qty_{{ product.id }}"/>    
                    <select class="form-select mx-3 selector" aria-label="Size selector" name="size" required>
                        <option selected hidden>Select Size</option>
                        {% for size in sizes %}
                            <option value="{{ size.id }}">{{ size.name }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-select selector" aria-label="Colour selector" name="colour" required>
                        <option selected hidden>Select Colour</option>
                        {% for colour in colours %}
                            <option value="{{ colour.id }}">{{ colour.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="size-link-container mt-2">
                    <a class="size-link" data-bs-toggle="modal" data-bs-target="#sizeModal">Size Guide</a>
                </div>
                <button class="btn btn-bag flex-shrink-0 my-5" type="submit">
                    Add to bag
                </button>
            </form>
        </div>
    </div>
    
    {% endif %}

</div>


{% endblock %}