{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'apparel/css/garment.css' %}">
{% endblock %}

{% block extra_title %}
    - {{ product.name }}
{% endblock %}

{% block banner %}
    <h5 class="font-weight-bold text-end me-5">
        {% if grand_total %}
            Bag Total: £{{ grand_total|floatformat:2 }}
        {% endif %}
    </h5>
{% endblock %}

{% block content %}
    <div class="container col-11 col-lg-8 mx-auto my-3 my-lg-5">

        <!-- Sale Item -->
        {% if product.discount %}
            <div class="row single-product p-2 align-items-center">
                <div class="col-md-6 p-1 ps-md-1">
                    {% if product.productimage_set.all %}
                        {% include 'includes/product_carousel.html' %}
                    {% else %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}image-not-found-icon.svg" alt="{{ item.product.name }}"/>
                    {% endif %}
                </div>
                <div class="col-md-6 text-start p-3 mt-2">
                    <span class="badge fs-5 mb-2">
                        Sale
                    </span>
                    <h1 class="display-5 fw-bolder">
                        {{ product.name }}
                    </h1>
                    <div class="fs-5 mb-3 sale-container-lg px-2">
                        Sale Price! &nbsp;
                        <span class="card-text discount text-center">
                            <del>
                                £{{ product.price }}
                            </del> 
                            &nbsp;£{{ product.discount_price }}
                        </span>
                    </div>
                    <p class="lead mb-5">
                        {{ product.description }}
                    </p>
                    <form action="{% url 'bag_add' product.id %}" class="form" method="POST">
                        {% csrf_token %}
                        {% include "includes/selectors.html" %}
                        {% include "includes/buttons.html" %}
                        {% include "includes/colour_swatches.html" %}
                    </form>
                </div>
            </div>
            
        <!-- Regular Item -->
        {% else %}
            <div class="row single-product p-2 align-items-center">
                <div class="col-md-6 p-1 ps-md-1">
                    {% if product.productimage_set.all %}
                        {% include 'includes/product_carousel.html' %}
                    {% else %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}image-not-found-icon.svg" alt="{{ item.product.name }}"/>
                    {% endif %}
                </div>
                <div class="col-md-6 text-start p-3 mt-2">
                    <h1 class="display-5 fw-bolder">
                        {{ product.name }}
                    </h1>
                    <div class="fs-5 mb-3">
                        <span class="card-text discount">
                            £{{ product.price }}
                        </span>
                    </div>
                    <p class="lead mb-5">
                        {{ product.description }}
                    </p>
                    <form action="{% url 'bag_add' product.id %}" class="form" method="POST">
                        {% csrf_token %}
                        {% include "includes/selectors.html" %}
                        {% include "includes/buttons.html" %}
                        {% include "includes/colour_swatches.html" %}
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/quantity.js' %}"></script>
{% endblock %}
