{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid self-align-center text-left my-2">
    <div class="row">

        {% for product in products %}
        {% if product.category.name == 'New Designs' %}
        {% if product.discount %}
        <div class="col my2 py-lg-5">
            <div class="card mx-auto">
                <div class="image">
                    <span class="badge position-absolute">Sale</span>
                    <img src="{{ product.image.url }}" class="card-img-top apparel" alt="Image of a new design">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <div class="sale-container mx-auto">
                    Sale!
                    <h5 class="card-text discount"><strike>£{{ product.price }}</strike> &nbsp;£{{ product.discount_price }}</h5>
                </div>
                    <a href="{% url 'garment' product.id %}" class="btn">View Product</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col my2 py-lg-5">
            <div class="card mx-auto">
                <div class="image">
                    <img src="{{ product.image.url }}" class="card-img-top apparel" alt="Image of a new design">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ product.name }}</h4>
                    <p class="card-text">{{ product.description }}</p>
                    <h5 class="card-text">£{{ product.price }}</h5>
                    <a href="{% url 'garment' product.id %}" class="btn">View Product</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    
    </div>
</div>

{% endblock %}