{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/error_pages.css' %}">
{% endblock %}

{% block banner %}
    Error 404: Page not found
{% endblock %}

{% block content %}

<div class="container-fluid align-self-center text-center my-2">
    <div class="row">
        <div class="col-md-4 d-flex flex-column fill-bag mx-auto my-3">
            <h2 class="text-center mt-3">Ooops! Have you mislaid your shopping bag?</h2>
            <img src="{% static 'icons/sad-face-icon.svg' %}" class="sad-face-icon mt-3 mb-5" alt="sad face icon">
            <h2 class="text-center mt-3">Let's find it!</h2>
            <a href="{% url 'home' %}" class="btn btn-back mx-auto my-3">
               <img src="{% static 'icons/back-arrow-icon.svg' %}" class="back-icon" alt="back arrow icon"> 
                <br> Back to the shop
            </a>
        </div>
    </div>
</div>

{% endblock %}