.container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--secondary-colour-translucent);
}

.form-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
}

.summary-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
}

#payment-form input {
    color: var(--secondary-colour);
    background-color: var(--background);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

#payment-form .form-control::placeholder {
    color: var(--secondary-colour-translucent);
}

#payment-form .form-control:focus {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-inset-box-shadow);
}

.bag-summary-img {
    background-color: var(--primary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.bag-summary {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--background);
}

.text-info {
    color: var(--primary-colour) !important;
    text-shadow: var(--text-shadow);
}

.summary-container .btn-back,
.submit-button .btn-next {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
}

.summary-container .btn-back:hover,
.submit-button .btn-next:hover {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.summary-container .btn-back:active,
.submit-button .btn-next:active {
    background-color: var(--primary-colour-translucent);
}

.exclamation-icon,
.payment-icon {
    width: 1.5rem;
    height: 1.5rem;
}