.container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--secondary-colour-translucent);
}

.form-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
}

.summary-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--background-translucent);
}

#payment-form input {
    color: var(--secondary-colour);
    background-color: var(--background);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

#payment-form .form-control::placeholder {
    color: var(--secondary-colour-translucent);
}

#payment-form .form-control:focus {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-inset-box-shadow);
}

.bag-summary-img {
    background-color: var(--primary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.bag-summary {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    color: var(--secondary-colour);
    background-color: var(--background);
}

.text-info {
    color: var(--primary-colour) !important;
    text-shadow: var(--text-shadow);
}

.summary-container .btn-back,
.submit-button .btn-next {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
}

.summary-container .btn-back:hover,
.submit-button .btn-next:hover {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.summary-container .btn-back:active,
.submit-button .btn-next:active {
    background-color: var(--primary-colour-translucent);
}

.exclamation-icon,
.payment-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/*** Stripe ***/

.StripeElement,
.stripe-style-input {
    font-family: var(--main-font) !important;
    height: 40px;
    padding: 10px 12px;
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: var(--small-inset-box-shadow);
 }
 
.StripeElement--webkit-autofill {
    background-color: var(--background) !important;
}

select,
select option {
    color: var(--secondary-colour);
}

select:invalid,
select option[value=""] {
    color: var(--secondary-colour-translucent) !important;
}

.form-check-input:checked {
    color: var(--secondary-colour);
    border: var(--thin-border);
}

.form-check-input:focus {
    color: var(--secondary-colour);
    border: var(--thin-border);
    box-shadow: var(--small-inset-box-shadow);
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-colour-translucent);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--primary-colour-translucent);
}