/*** Shopping Bag ***/

.back-icon {
    width: 2rem;
}

.fill-bag .btn-back,
.btn-back,
.btn-checkout {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
}

.fill-bag .btn-back:hover,
.btn-back:hover,
.btn-checkout:hover {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.fill-bag .btn-back:active,
.btn-back:active,
.btn-checkout:active {
    background-color: var(--primary-colour-translucent) !important;
}

.img-fluid {
    width: 200px;
    height: 200px;
    background-color: var(--body-background-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.table-responsive {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-colour-translucent);
    padding: 5px;
    box-shadow: var(--big-box-shadow);
}

.bag-table {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-colour-translucent);
}

.bag-table th {
    background-color: var(--background-translucent-2);
    border-bottom: var(--thin-border);
}

.bag-table td {
    background-color: var(--background-translucent);
}

.btn-up,
.btn-down {
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.btn-up:hover,
.btn-down:hover {
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.btn-up:active,
.btn-down:active {
    background-color: var(--primary-colour-translucent);
}

.no-hover {
    pointer-events: none;
    background-color: var(--secondary-colour-translucent);
}

.selection input {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
}

.selection input:focus {
    border: var(--thin-border);
    box-shadow: var(--small-inset-box-shadow);
}

.btn-link {
    color: var(--secondary-colour);
    background-color: var(--background);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    text-decoration: none;
}

.btn-link:hover {
    background-color: var(--background);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
    color: var(--secondary-colour);
}

.btn-link:active {
    background-color: var(--primary-colour-translucent) !important;
    border: var(--thin-border) !important;
    border-radius: var(--border-radius) !important;
}

.update-icon,
.bin-icon {
    height: 1.3rem;
}

.selector {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
}

.selector:hover {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.selector:focus {
    border: var(--thin-border);
    box-shadow: var(--small-inset-box-shadow);
}

.checkout-container {
    background-color: var(--secondary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--big-box-shadow);
}

.section-container {
    background-color: var(--background-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
    .form .selection .input-group,
    .form .selection .selector {
        width: 50%;
    }
}