{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/toasts/warning.css' %}">
{% endblock %}

<div class="toast custom-toast" role="alert" data-bs-autohide="true" aria-live="assertive" aria-atomic="true">
    <div class="toast-header warning-header">
        <img src="{% static 'icons/exclamation-warning-round-solid-icon.svg' %}" class="rounded me-2 warning-icon"
            alt="warning icon">
        <strong class="me-auto">
            Warning!
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>