.container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--secondary-colour-translucent);
    color: var(--secondary-colour);
    box-shadow: var(--big-box-shadow);
}

.form-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background-translucent);
    color: var(--secondary-colour);
}

.btn-submit, 
.btn-back {
    background-color: var(--background);
    color: var(--secondary-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.btn-submit:hover, 
.btn-back:hover {
    background-color: var(--background);
    color: var(--secondary-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.btn-submit:active, 
.btn-back:active {
    background-color: var(--primary-colour-translucent) !important;
}

input[type="file"],
.form-control,
.input-group-text,
.form-check-input {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background);
    color: var(--secondary-colour);
}

input[type="file"]:focus,
.form-control:focus,
.input-group-text:focus,
.form-check-input:focus {
    box-shadow: var(--small-inset-box-shadow) !important;
    border-color: var(--secondary-colour) !important;
}

.form-check-input {
    padding: .35rem !important;
}

.form-check-input:checked {
    background-color: var(--secondary-colour) !important;
    border-color: var(--secondary-colour) !important;
}

.form-check-input:focus {
    box-shadow: var(--small-inset-box-shadow) !important;
    border-color: var(--secondary-colour) !important;
}