.container {
    background-color: var(--secondary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--big-box-shadow);
}

.admin-card {
    background-color: var(--background-translucent);
    box-shadow: none;
    width: auto;
}

.admin-card:hover {
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.admin-card:active {
    background-color: var(--primary-colour-translucent);
}

.admin-btn {
    background-color: none;
    color: none;
    border: none;
    border-radius: none;
    width: 100%;
}

.btn-submit {
    background-color: var(--background);
    color: var(--secondary-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.btn-submit:hover {
    background-color: var(--background);
    color: var(--secondary-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-box-shadow);
    transition: var(--transition-quick);
}

.btn-submit:active {
    background-color: var(--primary-colour-translucent) !important;
    color: var(--secondary-colour);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

input[type="text"] {
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

input[type="text"]:focus {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--small-inset-box-shadow);
}

.form-container {
    border: var(--thin-border);
    border-radius: var(--border-radius);
    background-color: var(--background-translucent);
    color: var(--secondary-colour);
}