.container {
    background-color: var(--secondary-colour-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
    box-shadow: var(--big-box-shadow);
}

.product-list {
    background-color: var(--background-translucent);
    border: var(--thin-border);
    border-radius: var(--border-radius);
}

.edit-img {
    width: 75px;
    height: 75px;
    border-radius: var(--border-radius);
    border: var(--thin-border);
    background-color: var(--body-background-translucent);
}

.product-list li {
    list-style-type: none;
}

.product-list li a {
    text-decoration: none;
    color: var(--secondary-colour);
}

.product-list li .name-link:hover {
    color: var(--primary-colour);
    text-decoration: none;
    background-color: var(--secondary-colour-translucent);
    border-radius: var(--border-radius);
    border: var(--thin-border);
    padding: 2px;
}

@media screen and (max-width: 768px) {
    .btn-delete {
        background-color: var(--error-colour)!important;
        color: var(--background) !important;
        border: var(--thin-border);
        border-radius: var(--border-radius);
    }

    .btn-edit {
        background-color: var(--info-colour) !important;
        color: var(--background) !important;
        border: var(--thin-border);
        border-radius: var(--border-radius);
    }
    
}